
.ipynb_checkpoints/session_5_72315-checkpoint.ipynb

.ipynb_checkpoints/session_6_73015-checkpoint.ipynb

.ipynb_checkpoints/session_7_080615_no_ouput-checkpoint.ipynb

080615_gene_expression.xlsx

example_scatter1.png

*.html

.ipynb_checkpoints/session_7_080615-checkpoint.ipynb
